@import '../utils.scss';

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
  padding: 20px 40px;

  @include phones {
    padding: 15px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  &__characters-container {
    margin: 0;
    padding: 0;
  }
}

.character {
  margin-bottom: 20px;
  width: 100%;
  text-decoration: none;
  color: $main-text;
  transition: .3s;

  &__image {
    margin-bottom: 15px;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    &__item {
      font-size: 1.1rem;
    }
  }

  &:hover {
    color: $hover-text;
    transform: scale(1.02);
  }
}
