@import '../utils.scss';

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  @include phones {
    padding: 0 15px;
  }
}

.main {
  position: relative;
  flex: 1;
  padding: 20px 40px;

  @include phones {
    padding: 15px;
  }
}

.header {
  border-bottom: 1px solid #cfcfcf;
  &__links {
    display: flex;
    align-items: center;

    &__link {
      padding: 20px 0;
      margin-right: 15px;
      color: $main-text;
      text-decoration: none;
      transition: .3s;

      &:hover {
        color: $hover-text;
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
  }
}

.footer {
  justify-content: center;
  background-color: $footer-background;
  
  &__title {
    font-size: 0.8rem;
    color: $secondary-text;
  }
}
